<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20}.%method[%line] - %msg%n%ex{full}%n</pattern>
        </encoder>
    </appender>
    <!--appender name="tomcatlog" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.home}/logs/ossohe.test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20}.%method[%line] - %msg%n%ex{full}%n</pattern>
        </encoder>
    </appender-->
    <logger name="springdao" level="DEBUG"/>
    <logger name="springdao.*" level="DEBUG"/>
    <root level="info"> 
        <appender-ref ref="console" />
        <!--appender-ref ref="tomcatlog" /-->
    </root>
</configuration>